
body{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.929);

}
.head{
    background-color: black;
    width: 100%;
    height: 60px;
    color: white;
    padding: 10px;
}
.hdcnt{
    width: 80%;
    display: flex;
    margin: auto;
}
.crma{
    flex: 20%;
    font-size: x-large;
    margin: 0px;
    padding-top: 10px;
}
.crma h2{
    margin: 0;
}
.menu{
    flex: 10%;
    padding-top: 24px;
    font-size: large;
}
.search{
    flex: 45%;
    padding-top: 15px;
    padding-bottom: 9px;
}
.search input{
    width: 480px;
    height: 40px;
    border: 1px solid white;
    border-radius: 18px;
}
.search form{
    position: relative;

}
.search form i{
    position: absolute;
    color: rgba(0, 0, 0, 0.456);
    right:70px;
    top: 8px;
    font-size:x-large;
}
.loc{
    flex: 15%;
    padding-top: 24px;
}
.prct{
    display: flex;
    flex: 10%;
    padding-top: 24px;
    font-size: large;
}
.prfl{
    flex: 50%;
}
.cart{
    flex: 50%;
}

    .album img{
        width: 100%;
        height: fit-content;
    }
    .else{
        width: 80%;
        margin: auto;
    }
    .neu{
        grid-area:neu;
    }
    .hdfc{
        grid-area: hdfc;
    }
    .blank{
        grid-area: blank;
    }
    .fed{
        grid-area: fed;
    }
    .icici{
        grid-area: icici;
    }
    .adgrid{
        display: grid;
        grid-template-areas: 'neu hdfc'
        'blank blank'
        'fed icici';
        gap: 10px;
        grid-template-rows: 120px 120px 120px;
    }
    .neu img, .hdfc img, .fed img,.icici img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
    }
    .phone{
        grid-area: phone;
    }
    .ac{
        grid-area: ac;
    }
    .iron{
        grid-area: iron;
    }
    .spkr{
        grid-area: spkr;
    }
    .elec{
        margin:0;
        display: grid;
        grid-template-areas: 'phone ac iron spkr';
        gap: 10px;
        grid-template-rows: 350px;

    }
    .phone img,.ac img ,.iron img ,.spkr img{
        height: 100%;
        width: 100%;
        border-radius: 8px;
    }
    .elechd{
        color: white;
        font-size: xx-large;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 50px;
        line-height: 0%;
    }.wm{
        grid-area: wm;
    }
    .tv{
        grid-area: tv;
    }
    .deals{
        display: grid;
        grid-template-areas: 'wm tv';
        gap: 10px;
        grid-template-rows: 300px;
    }
    .wm img ,.tv img{
        height: 100%;
        width: 100%;
        border-radius: 8px;
    }
    .dl{
        font-size: xx-large;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        margin-bottom: 10px;
    }
    .app p{
        font-size: xx-large;
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .zip img{
        width: 100%;
    }
    .icons{
        display: flex;
        flex-wrap: wrap;
        height: 150px;
    }
    .icons div {
        width: 150px;
    }.topshelf img, .collec img, .exprs img, .emi img , .deals img , .weekdeal img , .ewaste img{
        width: 100%;
    }
    .apple{
        grid-area: apple;
    }
    .boss{
        grid-area: boss;
    }
    .cromab{
        grid-area: cromab;
    }
    .dell{
        grid-area: dell;
    }
    .brand{
        margin:0;
        display: grid;
        grid-template-areas: 'apple boss cromab dell';
        gap: 10px;
        grid-template-rows: 200px;
    }
    .apple img , .boss img, .cromab img, .dell img{
        width: 100%;
        border-radius: 9px;
    }
    .end{
        background-color: rgb(28, 28, 28);
        height: 400px;
    }
    .endgrid{
        color: white;
        width: 80%;
        margin: auto;
        display: flex;
        margin-top: 20px;
        padding: 30px;
        
    }
    .endgrid p{
        font-size:14px;
        font-family: sans-serif;
    }
    .link1{
        display: flex;
        margin: auto;
        width: 300px;
        /* flex: auto; */
        /* border-left: 1px solid white; */
        border-right: 1px solid white;
    }
    .link1 .r1 {
        margin: auto;
    }
    .link2{
        display: flex;
        /* margin: auto; */
        width: 300px;
        margin-left: none;
        margin-right: 100px;
        
    }
    .link2 .r2 {
        margin: auto;
        /* margin-top: none;
        margin-left: none; */
    }
    .contact{
        width: 300px;
        border-right: 1px solid white;
    }
    .link1  div p:hover{
       color: aquamarine;
    }
    .link2  div p:hover{
        color: aquamarine;
     }
     .ebox input{
        width: 280px;
        height: 25px;
        border: 1px solid white;
        border-radius: 18px;
     }


